.product-card {
    width: 450px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    display: inline-block;

    &__header {
        display: block;
        font-weight: bolder;

        h3 {
            margin: 0;
        }
    }

    &__body {

    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .btn-primary {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
        width: 100px;
        margin-left: 10px;
    }
    
    .btn {
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s
    }
}