.side-menu {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ccc;
    overflow-x: hidden;
    padding: 10px;

    &__title {
        font-weight: bold;
        margin: 0 0 20px 0;
    }

    .side-menu__nav {
        list-style-type: none;
        margin: 0;
        padding: 0;

        &--badge {
            background-color: #000;
            color: #fff;
            border-radius: 50%;
            margin-left: 10px;
            display: inline-block;
            width: 25px;
            text-align: center;
        }
    }

    .login-button {
        color: #fff;
        background-color: #000;
        margin-top: 20px;
        padding: 5px 10px;
    }

    li {
        padding: 10px 0;
        cursor: pointer;
    }
}